In [8]:
import plotly.express as px
import pandas as pd

In [16]:
df1_1 = pd.read_csv('children_per_woman_total_fertility.csv')
df1_2 = pd.read_csv('gnipercapita_ppp_current_international.csv')
print(df1_2.head())

                country   1990   1991   1992   1993   1994   1995   1996  \
0                 Aruba  20.5k  22.2k  23.2k  24.6k  26.3k  26.9k  26.8k
1           Afghanistan    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2                Angola   2980   3300   1620   1490   1260   2340   2410
3               Albania   2550   1880   1740   2110   2300   2710   3050
4  United Arab Emirates    NaN    NaN    NaN    NaN    NaN    NaN    NaN

    1997   1998  ...   2012   2013   2014   2015   2016   2017   2018   2019  \
0  28.3k  28.6k  ...  33.2k  34.7k  35.5k  35.8k  35.9k  36.7k  38.9k  40.6k
1    NaN    NaN  ...   1960   2070   2110   2150   2040   2120   2130   2200
2   2810   2810  ...   6790   7090   7630   6900   6660   6770   6500   6260
3   2780   3110  ...  10.4k  10.8k  11.4k  11.8k  12.3k  12.8k  13.5k  13.8k
4    NaN    NaN  ...  74.9k    76k    79k    70k  69.2k  71.7k  73.5k  75.2k

    2020   2021
0  34.1k  41.4k
1   2100   1680
2   5830   5980
3  13.5k  15.5k
4  71.3k    NaN

[5 rows x 33 columns]

In [17]:
df107_1=df1_1[['country', '2007']]
df107_2=df1_2[['country', '2007']]

                country   2007
0                 Aruba  33.5k
1           Afghanistan    NaN
2                Angola   5330
3               Albania   7490
4  United Arab Emirates  94.6k

In [ ]:
fig = px.scatter(df107_1, x='x', y='y', color='Dataset 1', title='Scatterplot')

# AÃ±adir los puntos del segundo dataframe al scatterplot
fig.add_scatter(x=df107_2['country'], y=df107_2['2017'], mode='markers', name='Dataset 2')

# Mostrar el scatterplot
fig.show()